@import '/static/font/font.less';
@import './env.less';

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: rgb(141, 141, 141);
    min-height: 100%;
    outline: 0px dashed cyan;
    outline-offset: -3px;
}
body {
    cursor: default;
    width: 100%;
    min-width: 360px;
    overflow: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    background: rgb(243, 246, 250);
}

a {
    &:link {color: @blue}
    &:visited {color: @darkblue}
}

strong, b {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 100%;
    font-weight: 700;
    line-height: 1.25;
    color: @blue;
}
h1 {font-size: @font-size-1}
h2 {font-size: @font-size-2}
h3 {font-size: @font-size-3}
h4 {font-size: @font-size-4}
h5 {
    font-size: @font-size-5;
    font-weight: normal;
    color: black;
}
h6 {
    font-size: 100%;
    font-weight: normal;
}

button {
    user-select: none;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1;
    font-weight: 400;
}

.link-more {
    cursor: pointer;
    user-select: none;
    border: none;
    background: none;
    padding: .125rem 0 .25rem;
    display: inline-block;
    white-space: nowrap;
    font-size: 1.25rem;
    color: rgb(227, 30, 36);
    text-decoration: none;
    & > .icon {
        margin-left: .5rem;
        vertical-align: -3px;
        width: 1rem;
        height: 1rem;
    }
    &:hover {color: rgb(169, 0, 5)}
}

[class|="button"] {
    cursor: pointer;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-decoration: none;

    box-shadow: 0 3px 8px -5px rgba(0, 0, 0, .75);
    box-sizing: border-box;
    border-radius: .25rem;
    background: @blue none no-repeat 50% 50%;
    color: white;
    min-height: 2.75rem;
    padding: .25rem .75rem;
    margin: 0;
    border: 1px solid rgba(255,255,255,.05);
    transition: background .125s linear 0s;
    &:hover {background-color: @darkblue}
    &:active {box-shadow: none}
    & > b {
        font-weight: 600;
    }
    & > .icon {
        margin: .125rem 0 0 .125rem;
        width: 1.25rem;
        height: 1.25rem;
    }
    &:link,
    &:visited {color: white}
}

.button {
    &-reds {
        background-color: rgb(227, 30, 36);
        &:hover {background-color: rgb(169, 0, 5)}
    }
}

.button-sale {
    min-width: 136px;
    padding-right: .25rem;
    background-color: rgb(227, 30, 36);
    &:hover {background-color: rgb(169, 0, 5)}
    line-height: 1.5rem;
    font-size: 1.25rem;
}